{% extends 'base.html' %}

{% block content %}
    <h2>Welcome, {{ current_user.username }}</h2>
    <h3>Your Accounts</h3>
    <ul>
        {% for account in accounts %}
            <li>Account Number: {{ account.account_number }} | Balance: {{ account.balance }}</li>
        {% endfor %}
    </ul>

    <h3>Your Loans</h3>
    <ul>
        {% for loan in loans %}
            <li>Loan Type: {{ loan.loan_type }} | Amount: {{ loan.amount }} | Status: {{ loan.status }}</li>
        {% endfor %}
    </ul>

    <h3>Your Transactions</h3>
    <ul>
        {% for transaction in transactions %}
            <li>Transaction: {{ transaction.details }}</li>
        {% endfor %}
    </ul>
{% endblock %}
