{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<h1>Transactions</h1>
<table>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Account Number</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.account_id }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.transaction_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
