{% extends 'base.html' %}

{% block title %}Accounts - Electronic Banking App{% endblock %}

{% block content %}
<div class="accounts-container">
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.account_number }}</td>
                <td>{{ account.account_type }}</td>
                <td>{{ account.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
